.svg-btn {
  fill: #09FA8E;
  height: 1em;
}

@media (min-width: 992px) {
  .card-container {
    max-width: 50%;
  }
}

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.site-cover-header {
  height: 100vh;
}
.site-cover-header::before {
  z-index: -9;
  background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.site-cover-header video {
  vertical-align: middle;
}
.site-cover-header .cover-video {
  z-index: -10;
  bottom: 0;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@-webkit-keyframes bounce-down {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes bounce-down {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}
.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 45%;
}

.video-cover {
  background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
}

.video-cover::before {
  z-index: -9;
  background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.mask::before {
  background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
}

h4,
h5.card-title {
  color: #09FA8E;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}

.partner-img {
  position: relative;
}
.partner-img img {
  max-height: 200px;
}
.partner-img .img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.partner-img:hover .img-overlay {
  background-color: rgba(251, 251, 251, 0.15);
}

.my-6 {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

#aboutus {
  font-size: 1.5rem;
}

.bounce {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-animation-name: bounce-down;
          animation-name: bounce-down;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}