@use 'colors';

.btn-primary{
    --bs-btn-bg: #{colors.$primary};
    --bs-btn-border-color: #{colors.$primary};
    --bs-btn-color: #{colors.$text-dark};
}

.btn-outline-primary {
    --bs-btn-border-color: #{colors.$primary};
    --bs-btn-hover-bg: #{colors.$primary};
    --bs-btn-hover-border-color: #{colors.$primary};
    --bs-btn-color: #{colors.$primary};
    --bs-btn-hover-color: #{colors.$text-dark};
}

.btn-form{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.social-btn{
}