@use 'load';
@use 'colors';

@keyframes bounce-down {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 0px;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 45%;
}

.video-cover {
    background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
}

.video-cover::before {
    z-index: -9;
    background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.mask::before {
    background: rgba(0, 0, 0, 0.4) url(../img/background-overlay.png) repeat;
}

h4,
h5.card-title {
    color: colors.$primary;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);
}

.partner-img {
    position:relative;
    img {
        max-height: 200px;
    }
    .img-overlay{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.3s ease-in-out;
    }
    
    &:hover{
        .img-overlay{
            background-color: rgba(251, 251, 251, 0.15);
        }
    }
}

.my-6 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

#aboutus {
    font-size: 1.5rem;
}

.bounce {
    position: absolute;
    right: 0;
    left:0;
    text-align:center;
    animation-name: bounce-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}